---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import HvorforOs1 from "../assets/images/filmruller1.webp";
import HvorforOs2 from "../assets/images/filmruller2.webp";
import filmrulle1 from "../assets/images/filmrulle-1.webp";
import filmrulleom from "../assets/images/filmrulle-om.webp";
import Nicephore from "../assets/images/Nicephore.webp";
import Eastman from "../assets/images/Eastman.webp";
import ensomComputer2 from "../assets/images/ensom-computer2.webp";
import Virksomhed from "../components/Virksomhed.astro";
import Retro from "../components/Retro.astro";
import Processbar from "../components/Processbar.astro";
---

<MainLayout title="CPH-LAB | Om">
  <!-- Sektion 1 – Hero units -->
  <!-- Hero unit desktop -->
  <div class="w-full relative hidden lg:block">
    <div
      class="w-full lg:h-[550px] flex items-center justify-center overflow-hidden relative"
    >
      <video width="100%" height="413" autoplay muted loop>
        <source
          src="https://video.wixstatic.com/video/392078_3023cbdc223541459d96c48212615446/480p/mp4/file.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div
      class="text-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10"
    >
      <h1
        class="lg:mt-34 uppercase pt-10 font-[Lora] font-bold text-text-secondary text-4xl lg:text-6xl pb-12 relative"
      >
        Analog er ikke dødt
      </h1>
    </div>
  </div>

<!-- Hero unit mobil-->
  <div class="py-34 w-full relative lg:hidden">
    <div class="w-full lg:h-[500px] flex items-center justify-center overflow-hidden">
      <video class="absolute top-0 left-0 w-full h-full object-cover" autoplay loop muted>
        <source src="https://video.wixstatic.com/video/392078_3023cbdc223541459d96c48212615446/480p/mp4/file.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="text-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10">
      <h1
        class="mt-[500px] uppercase pt-10 font-[Lora] font-bold text-text-secondary text-4xl w-[300px] pb-12 relative"
      >
        Analog er ikke dødt
      </h1>
    </div>
  </div>

  <!-- Sektion 2 -->

  <div class="sticky text-[#F0F0F0] text-center">
    <div class="flex items-center sticky top-[0px] h-1/2 w-screen  bg-[#141613]">
      <p class="md:w-1/2 leading-loose mx-10 md:mx-auto p-10 text-[14px] md:text-[20px] font-display italic pt-[80px]">Analog fotografi, også kendt som filmfotografi, har en unik æstetik og autentisk charme. Det er en praksis, der kræver omhu og opmærksomhed,men til gengæld belønner med en unik kvalitet, autencitet og en håndværksmæssig proces.</p>
      </div>
      <div class=" flex items-center sticky top-[0px] h-1/2 w-screen  bg-[#141613]">
      <p class="md:w-1/2 leading-loose mx-10 md:mx-auto p-[10px] text-[14px] md:text-[20px] font-display italic pt-[90px] md:pt-[80px]"> Dets fascinerende historie strækker sig tilbage før det digitale kameras
            opfindelse. Fra 1800-tallet til i dag ser vi stadig en værdsættelse af
            det langsomme, charmerende og omhyggelige håndværk.</p>
      </div>
    </div>

  <!-- Hvor det hele startede -->
  <!-- fadein animaiton på H3 på section 3-5 -->
  <section class="sektion3 hvorDetHeleStartede pt-22 relative">
    <div class="grid grid-cols-2 pb-[200px] md:pb-[480px] overflow-hidden">
      <div class="md:px-24 md:w-[800px]">
        <h2
          class="font-display text-text-primary font-bold italic md:text-4xl text-[20px] pl-8"
        >
          Hvor det hele startede...
        </h2>
        <div
          class="my-10 lg:py-5 gulOverskrift border border-card-stroke w-[260px] md:w-[300px] ml-[-21px] md:ml-[-200px]"
        >
          <h3 class="py-2 px-5 md:px-8 md:py-4 font-display text-text-secondary font-bold md:text-4xl text-[24px] text-right fadeInLeft1 ">
            1828 
          </h3>
        </div>

        <div
          class="text-mobilxxs md:text-lg text-text-primary w-[250px] md:w-[400px] mobil_sm pl-8"
        >
          <p class="leading-relaxed">
            Analog fotografi opstod i midten af 1800-tallet med opdagelsen af
            fotokemiske processer, der tillod lys at interagere med kemikalier
            på filmoverfladen for at skabe et billede.
          </p>
          <p class="mt-12 leading-relaxed">
            Det første fotografi, kaldet La Cour Du Domaine Du Gras, blev skabt
            af Nicéphore Niépce i 1826 og viser en udsigt fra et vindue i hans
            hus i Frankrig.
          </p>
        </div>
      </div>

      <div class="">
        <Image
          src={Nicephore}
          alt="Nicéphore Niépce"
          class="w-[190px] md:w-34 md:ml-20 ml-[30px]"
        />
      </div>
    </div>

    <div class="overflow-hidden">
      <Image
        src={filmrulle1}
        alt="Filmrulle 1"
        class="pointer-events-none w-screen md:w-screen absolute top-[380px] md:top-1"
      />
    </div>

    <div class="grid grid-cols-2 z-0 overflow-hidden">
      <div class="">
        <Image
          src={Eastman}
          alt="George Eastman"
          class="w-[190px] md:w-34 md:ml-20 ml-[10px]"
        />
      </div>

      <div class="md:w-[625px] md:ml-60 md:pl-10">
        <div
          class="my-10 lg:py-5 gulOverskrift border border-card-stroke md:w-screen -mr-[21px] z-10"
        >
          <h3 class="py-2 px-5 md:px-8 md:py-4  font-display text-text-secondary font-bold md:text-4xl text-[24px] fadeInRight1">
            1888 
          </h3>
        </div>
        <div
          class="md:text-lg text-text-primary pl-8 pr-4 md:w-[400px] mobil_sm"
        >
          <p class="leading-relaxed">
            George Eastmans opfindelse af filmrullen i 1888 revolutionerede
            fotografiets verden ved at gøre det lettere at tage flere billeder
            uden at skifte plader. Mørkekammerprocessen var den primære metode
            til at udvikle film, som krævende omhyggelighed og ekspertise.
          </p>
          <p class="mt-12 leading-relaxed ">
            I det 20. århundrede blev adgangen til analog fotografi gradvist
            mere almindelig og tilgængelig for almindelige mennesker, da
            kameraer blev mindre og mere overkommelige.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Den digitale revolution desktop -->
  
  <section
    class="sektion4 digitalRevolution pt-22 overflow-hidden hidden md:block"
  >
    <div
      class="lg:py-5 gulOverskrift border border-card-stroke w-[350px] md:w-[800px] md:ml-[-200px] ml-[-21px] z-10"
    >
      <h3
        class="py-2 px-5 font-display text-text-secondary font-bold md:text-4xl text-[24px] text-right  fadeInLeft3"
      >
        Den digitale revolution 
      </h3>
    </div>

    <div class="relative w-screen flex">
      <Image
        class="h-full w-screen object-cover md:w-screen"
        src={ensomComputer2}
        alt="Retro Apple Computer"
      />
      <div
        class="absolute inset-0 w-[300px] md:w-[600px] md:justify-center text-center top-6 md:top-1/3 left-1/2 -translate-x-1/2 md:-translate-y-1/2 md:text-lg mobil_sm">
  
        <p class="leading-relaxed text-xl"> 
          Fra slutningen af 1980'erne ændrede fotografering radikalt.
          Digitalkameraets fremkomst gjorde det hurtigere, billigere og mere
          tilgængeligt at tage billeder. Fotografer kunne tage ubegrænsede
          billeder uden filmruller og se resultaterne øjeblikkeligt på en skærm.
        </p>
        <p class="leading-relaxed text-xl">
          Denne teknologiske forandring gjorde fotografering mere tilgængelig og
          ændrede måden, vi oplever fotografier på. Alt i alt førte indførelsen
          af digitalkameraet til en ny æra af praksis, kvalitet og
          billedkommunikation.
        </p>
      </div>
    </div>
  </section>

  <!-- Den digitale revolution mobil -->
  
  <section
    class="sektion4 digitalRevolution pt-22 overflow-hidden block md:hidden"
  >
    <div
      class="lg:py-5 gulOverskrift border border-card-stroke w-[350px] ml-[-21px] z-10"
    >
      <h3
        class="py-2 px-5 font-display text-text-secondary font-bold text-[24px] text-right fadeInLeft8"
      >
        Den digitale revolution 
      </h3>
    </div>

    <div class="relative w-screen flex">
      <Image
        class="h-[800px] w-screen object-cover md:w-screen"
        src={ensomComputer2}
        alt="Retro Apple Computer"
      />
      <div
        class="absolute inset-0 w-[500px] md:w-[600px] md:justify-center text-center top-6 md:top-1/3 left-1/2 -translate-x-1/2 md:-translate-y-1/2 md:text-lg mobil_sm crossfadeimages"
      >
        <p class="leading-relaxed crossfadetopimg absolute text-center top-20  left-1/2 -translate-x-1/2  -translate-y-2/2 ">
          Fra slutningen af 1980'erne ændrede fotografering radikalt.
          Digitalkameraets fremkomst gjorde det hurtigere, billigere og mere
          tilgængeligt at tage billeder. Fotografer kunne tage ubegrænsede
          billeder uden filmruller og se resultaterne øjeblikkeligt på en skærm.
        </p>
        <p class="leading-relaxed crossfadebottomimg absolute text-center top-20  left-1/2 -translate-x-1/2  -translate-y-2/2">
          Denne teknologiske forandring gjorde fotografering mere tilgængelig og
          ændrede måden, vi oplever fotografier på. Alt i alt førte indførelsen
          af digitalkameraet til en ny æra af praksis, kvalitet og
          billedkommunikation.
        </p>
      </div>
    </div>
  </section>

  <Retro/>

  <!-- Stagger animation -->
  <section class="sektion6 relative">
    <Image src={filmrulleom} alt="" class="pointer-events-none w-screen h-[204px] md:h-[380px]" />
    <blockquote
      class="absolute leading-relaxed md:leading-relaxed text-text-primary justify-center text-center mobil_md md:text-2xl font-display italic top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 md:w-1/2 w-3/4 fadeIn"
    >
      Vi er et dedikeret hold af filmnørder, der brænder for at levere en
      service, der gør det nemt for alle at få det bedste ud af deres analoge
      filmoplevelser.
    </blockquote>
  </section>
  
  
     
  <Virksomhed/>

<!-- Desktop -->
  <section class="sektion8 pt-22 font-display text-text-primary md:block hidden">
    <div class="relative w-screen flex">
      <Image
        class="w-full opacity-60 lg:h-[600px] flex items-center justify-center overflow-hidden relative"
        src={HvorforOs1}
        alt="Random image"
      />
      <div
        class="absolute inset-0 md:w-auto w-[400px] justify-center text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      >
        <h1 class="md:text-6xl text-2xl font-bold pb-17 font- italic">
          Hvorfor CPH-LAB?
        </h1>
        <p class="mobil_md md:text-2xl pb-14">
          Hos CPH-LAB elsker vi fotografi og vil hjælpe med at bevare dine
          minder. Analoge medier falmer desværre med tiden <br />
          – få dem digitaliseret og sikret til fremtiden.
        </p>
        <p class="mobil_md md:text-2xl">
          Med 25 års erfaring tilbyder vi altid professionel service og
          håndtering samt sikker forsendelse, hurtig levering og personlig
          rådgivning.
        </p>
      </div>
    </div>
  </section>

  <!-- Mobil -->
  <section class="sektion8 pt-22 font-display text-text-primary md:hidden block">
    <div class="relative w-screen flex">
      <Image
        class="w-full opacity-70 lg:h-[600px] flex items-center justify-center overflow-hidden relative"
        src={HvorforOs2}
        alt="Random image"
      />
      <div
        class="absolute inset-0 md:w-auto w-[400px] justify-center text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      >
        <h1 class="md:text-6xl text-2xl font-bold pb-17 font- italic">
          Hvorfor CPH-LAB?
        </h1>
        <p class="mobil_md md:text-2xl pb-14">
          Hos CPH-LAB elsker vi fotografi og vil hjælpe med at bevare dine
          minder. Analoge medier falmer desværre med tiden <br />
          – få dem digitaliseret og sikret til fremtiden.
        </p>
        <p class="mobil_md md:text-2xl">
          Med 25 års erfaring tilbyder vi altid professionel service og
          håndtering samt sikker forsendelse, hurtig levering og personlig
          rådgivning.
        </p>
      </div>
    </div>
  </section>
  <Processbar/>
</MainLayout>


<script>
  import { animate, inView, scroll } from "motion";

  //fadeInLeft
  //________________________
  //section 3
  const fadeInLeft1 = document.querySelector(".fadeInLeft1");

  inView(fadeInLeft1, () => {
    fadeInLeft1.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-1s"
    );
  });



  //___________________________

  //________________________
  //section 4
  const fadeInLeft2 = document.querySelector(".fadeInLeft2");

  inView(fadeInLeft2, () => {
    fadeInLeft2.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-1s"
    );
  });
  //________________________

  //________________________
  //section 5
  const fadeInLeft3 = document.querySelector(".fadeInLeft3");

  inView(fadeInLeft3, () => {
    fadeInLeft3.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-1s"
    );
  });
  //________________________
  //section 7
  const fadeInLeft4 = document.querySelector(".fadeInLeft4");

  inView(fadeInLeft4, () => {
    fadeInLeft4.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-1s"
    );
  });
  const fadeInLeft5 = document.querySelector(".fadeInLeft5");

  inView(fadeInLeft5, () => {
    fadeInLeft5.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-1s"
    );
  });
  const fadeInLeft6 = document.querySelector(".fadeInLeft6");

  inView(fadeInLeft6, () => {
    fadeInLeft6.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-1s"
    );
  });

  const fadeInLeft8 = document.querySelector(".fadeInLeft8");
  inView(fadeInLeft8, () => {
    fadeInLeft8.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-1s"
    );
  });

  const fadeInLeft9 = document.querySelector(".fadeInLeft9");
  inView(fadeInLeft9, () => {
    fadeInLeft9.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-1s"
    );
  });

  const fadeInLeft10 = document.querySelector(".fadeInLeft10");
  inView(fadeInLeft10, () => {
    fadeInLeft10.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-1s"
    );
  });
  //__________________________

  //fadeInRight
  //________________________
  //section 3
  const fadeInRight1 = document.querySelector(".fadeInRight1");

  inView(fadeInRight1, () => {
    fadeInRight1.classList.add(
      "animate__animated",
      "animate__fadeInRight",
      "animate__delay-1s"
    );
  });
  //________________________

  //________________________
  //section 5
  const fadeInRight2 = document.querySelector(".fadeInRight2");

  inView(fadeInRight2, () => {
    fadeInRight2.classList.add(
      "animate__animated",
      "animate__fadeInRight",
      "animate__delay-1s"
    );
  });
  //________________________

  //________________________
  //section 7
  const fadeInRight3 = document.querySelector(".fadeInRight3");

  inView(fadeInRight3, () => {
    fadeInRight3.classList.add(
      "animate__animated",
      "animate__fadeInRight",
      "animate__delay-1s"
    );
  });

  const fadeInRight4 = document.querySelector(".fadeInRight4");

  inView(fadeInRight4, () => {
    fadeInRight4.classList.add(
      "animate__animated",
      "animate__fadeInRight",
      "animate__delay-1s"
    );
  });

  const fadeInRight5 = document.querySelector(".fadeInRight5");

  inView(fadeInRight5, () => {
    fadeInRight5.classList.add(
      "animate__animated",
      "animate__fadeInRight",
      "animate__delay-1s"
    );
  });
  //________________________

  //________________________
  // section 6
  const fadeIn = document.querySelector(".fadeIn");

  inView(fadeIn, () => {
    fadeIn.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "animate__delay-1s"
    );
  });
  //________________________
  // section 7
  const fadeIn1 = document.querySelector(".fadeIn1");

  inView(fadeIn1, () => {
    fadeIn1.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "animate__delay-1s"
    );
  });
  const fadeIn2 = document.querySelector(".fadeIn2");

inView(fadeIn2, () => {
  fadeIn2.classList.add(
    "animate__animated",
    "animate__fadeIn",
    "animate__delay-1s"
  );
});
const fadeIn3 = document.querySelector(".fadeIn3");

inView(fadeIn3, () => {
  fadeIn3.classList.add(
    "animate__animated",
    "animate__fadeIn",
    "animate__delay-1s"
  );
});


const fadeIn4 = document.querySelector(".fadeIn4");

inView(fadeIn4, () => {
  fadeIn4.classList.add(
    "animate__animated",
    "animate__fadeIn",
    "animate__delay-1s"
  );
});
const fadeIn5 = document.querySelector(".fadeIn5");

inView(fadeIn5, () => {
  fadeIn5.classList.add(
    "animate__animated",
    "animate__fadeIn",
    "animate__delay-1s"
  );
});
const fadeIn6 = document.querySelector(".fadeIn6");

inView(fadeIn6, () => {
  fadeIn6.classList.add(
    "animate__animated",
    "animate__fadeIn",
    "animate__delay-1s"
  );
});

const fadeIn7 = document.querySelector(".fadeIn7");

inView(fadeIn7, () => {
  fadeIn7.classList.add(
    "animate__animated",
    "animate__fadeIn",
    "animate__delay-1s"
  );
});
  //___________
  //section 7
  // crossfade animation
  scroll(animate(".crossfadebottomimg", { opacity: [0, 1] }), {
    target: document.querySelector(".crossfadeimages"),
    offset: ["-90vh", "90vh"],
  });
  scroll(animate(".crossfadetopimg", { opacity: [1, 0] }), {
    target: document.querySelector(".crossfadeimages"),
    offset: ["-100vh", "10vh"],
  });
</script>
