---
import { Image } from "astro:assets";
import filmrulle1 from "../assets/images/filmrulle-1.webp";
import filmrulle2 from "../assets/images/filmrulle-2.webp";
import Nicephore from "../assets/images/Nicephore.webp";
import Eastman from "../assets/images/Eastman.webp";
import ensomComputer from "../assets/images/ensom-computer.webp";
---


<section class="sektion1 analogErIkkeDødt">
     <!-- eksemple indsæt den rigtige -->
    <!-- <iframe src="demo_iframe.htm" height="200" width="300" title="Iframe Example"></iframe>-->
    <h1 class="font-Lora text-6xl text-text-tertiary "></h1>
</section>

<section class="sektion2 analogErIkkeDødtText font-Arial text-md text-text-primary">
    <p class="">Analog fotografi, også kendt som filmfotografi, har en unik æstetik og autentisk charme. Det er en praksis, der kræver omhu og opmærksomhed, men til gengæld belønner med en unik kvalitet, autencitet og en håndværksmæssig proces.</p>

    <p class="">Dets fascinerende historie strækker sig tilbage før det digitale kameras opfindelse. Fra 1800-tallet til i dag ser vi stadig en værdsættelse af det langsomme, charmerende og omhyggelige håndværk.</p>
</section>

<section class="sektion3 hvorDetHeleStartede">
    
    <div>
        <h2>Hvor det hele startede...</h2>
        <div class="gulOverskrift">
            <h3>1828</h3>
        </div>
        <p>Analog fotografi opstod i midten af 1800-tallet med opdagelsen af fotokemiske processer, der tillod lys at interagere med kemikalier på filmoverfladen for at skabe et billede. </p>
        <p>Det første fotografi, kaldet La Cour Du Domaine Du Gras, blev skabt af Nicéphore Niépce i 1826 og viser en udsigt fra et vindue i hans hus i Frankrig.</p>
    </div>
   
    <div>
        <Image src={Nicephore} alt="" class="" ></Image>
    </div>

    <Image src={filmrulle1} alt="" class="" ></Image>

    <div>
        <Image src={Eastman} alt="" class="" ></Image>
    </div>

    <div>
        <div class="gulOverskrift">
            <h3>1888</h3>
        </div>
        <p>George Eastmans opfindelse af filmrullen i 1888 revolutionerede fotografiets verden ved at gøre det lettere at tage flere billeder uden at skifte plader. Mørkekammerprocessen var den primære metode til at udvikle film, som krævende omhyggelighed og ekspertise.</p>
        <p>I det 20. århundrede blev adgangen til analog fotografi gradvist mere almindelig og tilgængelig for almindelige mennesker, da kameraer blev mindre og mere overkommelige. </p>
    </div>
   
    

</section>


<section class="sektion4 digitalRevolution">
    <div class="gulOverskrift">
        <h3></h3>
    </div>
    <Image src={ensomComputer} alt="" class="" ></Image>
    <p></p>

</section>


<section class="sektion5">
    <div> 
        <div></div>
        <h2></h2>
        <div class="gulOverskrift">
            <h3></h3>
        </div>
        <p></p>
        <p></p>
    </div>
    <Image src={filmrulle2} alt="" class="" ></Image>
    <div> 
        <h2></h2>
        <div class="gulOverskrift">
            <h3></h3>
        </div>
        <div class="paragraf sektion"> 
            <div> 
                <p></p>
                <p></p>
            </div>
            <div> 
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</section>


<section class="sektion6">
<img> <!-- indsæt billede -->
<p></p>
</section>


<section class="sektion7">
    <h2></h2>
    
    <div class="Benny">
        <img>
        <img>
        <img>
    </div>
    <div>
        <div class="gulOverskrift">
            <h3></h3>
        </div>
        <p></p>
        <p></p>
    </div>

    <div class="Emil">
        <img>
        <img>
        <img>
    </div>
    <div>
        <div class="gulOverskrift">
            <h3></h3>
        </div>
        <p></p>
        <p></p>
    </div>

    <div class="William">
        <img>
        <img>
        <img>
    </div>
    <div>
        <div class="gulOverskrift">
            <h3></h3>
        </div>
        <p></p>
        <p></p>
    </div>
   
</section>


<section class="sektion8">
<img>
<h1></h1>
<p></p>
<p></p>
</section>

