---
const {img, title, text, textto, price} = Astro.props;
---

<div class="bg-card-primary hover:bg-card-secondary border border-card-stroke lg:px-10 lg:py-11  hover:text-text-special">
<img class="w-[120px] h-[120px] lg:w-[200px] lg:h-[200px]" src={img}>
<p class="text-center text-text-primary text-[14px] font-[body] font-bold pb-5 pt-5 lg:text-md">{title}</p>
<p class="text-center text-text-primary text-[12px] font-[body] px-10 lg:text-sm">{text}</p>
<p class="text-center text-text-primary text-[12px] font-[body] px-10 py-2 lg:text-sm">{textto}</p>
<p class="text-center text-text_card-price text-mobilsm font-[body] pt-5 pb-6 lg:text-md lg:pb-1">{price}</p>
</div>
