---
const {img, title, text, textto, price} = Astro.props;
---

<div class="bg-card-primary hover:bg-card-secondary border border-card-stroke lg:px-10 lg:py-11  hover:text-text-special">
<img class="w-auto h-auto lg:w-[200px] lg:h-[200px]" src={img}>
<p class="text-center text-text-primary text-sm font-['Arial'] lg:text-md font-bold pb-5 pt-5 lg:text-md">{title}</p>
<p class="text-center text-text-primary text-xs font-['Arial'] lg:text-md px-10 lg:text-sm">{text}</p>
<p class="text-center text-text-primary text-xs font-['Arial'] lg:text-md px-10 py-2 lg:text-sm">{textto}</p>
<p class="text-center text-text_card-price text-sm font-['Arial'] lg:text-md pt-5 pb-6 lg:text-md lg:pb-1">{price}</p>
</div>
