---
import { Image } from "astro:assets";
import Benny from "../assets/images/Benny-Thelin.webp";
import Emil from "../assets/images/Emil-Basse.webp";
import William from "../assets/images/William-Green.webp";
---
<!--Desktop -->

<articel class="hidden md:block">
	<section class="sticky">
		<div class="flex items-center sticky top-[0px] h-screen w-screen bg-[#141613]">
			<div class="grid grid-cols-2">
				<div>
					<h2 class="text-[#F0F0F0] font-serif font-bold text-[36px] text-center mx-auto">Mød menneskerne bag</h2>
					<Image src={Benny} alt="" class=" pt-[60px] mx-auto"/>
				</div>
				<div class="overflow-hidden pt-[280px]" >
					<div class="gulOverskrift border border-[#F0F0F0] w-[100px]  md:w-[700px] -ml-[21px] md:-ml-[0px] z-10 mb-[16px]">
						<h3 class=" font-serif text-[#FBBA08] font-bold text-[20px] md:text-[34px] fadeInRight3 px-[18px] py-[14px]">Benny Thelin</h3>
					  </div>
					<div class="w-1/2 text-[#F0F0F0] fadeIn1 leading-relaxed pl-[20px]">
						<p class="pb-[8px] ">Benny Thelin er ejer af film-labbet, lab-ansvarlig og indehaver af Hørsholm Foto.</p>
						<p class=" font-bold">Yndlingsfilm:</p>
						<p>Kodak Tri-X 400</p>
					</div>
				</div>
			</div>
		</div>
		<div class="flex items-center sticky top-[0px] h-screen w-screen bg-[#141613]">
			<div class="grid grid-cols-2">
				<div>
					<h2 class="text-[#F0F0F0] font-serif font-bold text-[36px] text-center mx-auto">Mød menneskerne bag</h2>
					<Image src={Emil} alt="" class="mx-auto pt-[60px]"/>
				</div>
				<div class="overflow-hidden pt-[280px]" >
					<div class="gulOverskrift border border-[#F0F0F0] w-[100px]  md:w-[700px] -ml-[21px] md:-ml-[0px] z-10 mb-[16px]">
						<h3 class=" font-serif text-[#FBBA08] font-bold text-[20px] md:text-[34px] fadeInRight4 px-[18px] py-[14px]">Emil Basse</h3>
					  </div>
					<div class="w-1/2 text-[#F0F0F0] fadeIn2 leading-relaxed pl-[20px]">
						<p class="pb-[8px] ">Emil Basse er stifter af CPH-LAB. Markedsføring og kommunikation. </p>
						<p class=" font-bold">Yndlingsfilm:</p>
						<p>Kodak Colorplus</p>
					</div>
				</div>
			</div>
		</div>
		<div class="flex items-center sticky top-[0px] h-screen w-screen bg-[#141613]">
			<div class="grid grid-cols-2">
				<div>
					<h2 class="text-[#F0F0F0] font-serif font-bold text-[36px] text-center mx-auto">Mød menneskerne bag</h2>
					<Image src={William} alt="" class="mx-auto pt-[60px]"/>
				</div>
				<div class="overflow-hidden pt-[280px]" >
					<div class="gulOverskrift border border-[#F0F0F0] w-[100px]  md:w-[700px] -ml-[21px] md:-ml-[0px] z-10 mb-[16px]">
						<h3 class=" font-serif text-[#FBBA08] font-bold text-[20px] md:text-[34px] fadeInRight5 px-[18px] py-[14px]">William Green</h3>
					  </div>
					<div class="w-1/2 text-[#F0F0F0] fadeIn3 leading-relaxed pl-[20px]">
						<p class="pb-[8px] ">William Green lab-medhjælper og professionel fotograf.<a href="https://www.instagram.com/williamgreenphotos/">@williamgreenphotos</a></p>
						<p class=" font-bold">Yndlingsfilm:</p>
						<p>Ilford XP2</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</articel>

<!-- Mobil -->

<articel class="block md:hidden">
	<section class="sticky">
		<div class="flex flex-col sticky top-[0px] h-screen w-screen bg-[#141613]">
				<div class="overflow-hidden " >
					<div>
						<h2 class="text-[#F0F0F0] font-serif font-bold text-[24px] pl-[60px] mx-auto py-[30px] mt-[100px]">Mød menneskerne bag</h2>
					</div>
					<div class="gulOverskrift border border-[#F0F0F0] w-[240px]   -ml-[21px] z-10 mb-[16px] text-left">
						<h3 class=" font-serif text-[#FBBA08] font-bold text-[20px] pl-[80px]  fadeInRight3 px-[18px] py-[14px] fadeInLeft4">Benny Thelin</h3>
					  </div>
					<div class=" text-[#F0F0F0] fadeIn1 leading-relaxed pl-[60px] fadeIn4">
						<p class="pb-[8px] ">Benny Thelin er ejer af film-labbet,<br> lab-ansvarlig og indehaver af Hørsholm Foto.</p>
						<p class=" font-bold">Yndlingsfilm:</p>
						<p>Kodak Tri-X 400</p>
					</div>
				</div>
				<Image src={Benny} alt="" class=" mx-auto p-[60px]"/>
		</div>

		<div class="flex flex-col sticky top-[0px] h-screen w-screen bg-[#141613]">
			<div class="overflow-hidden " >
				<div>
					<h2 class="text-[#F0F0F0] font-serif font-bold text-[24px] pl-[60px] mx-auto py-[30px] mt-[100px]">Mød menneskerne bag</h2>
				</div>
				<div class="gulOverskrift border border-[#F0F0F0] w-[240px]   -ml-[21px] z-10 mb-[16px] text-left">
					<h3 class=" font-serif text-[#FBBA08] font-bold text-[20px] pl-[80px]  fadeInRight3 px-[18px] py-[14px] fadeInLeft5">Emil Basse</h3>
				  </div>
				<div class=" text-[#F0F0F0] fadeIn1 leading-relaxed pl-[60px] fadeIn5">
					<p class="pb-[8px] ">Emil Basse er stifter af CPH-LAB.<br>arkedsføring og kommunikation.</p>
					<p class=" font-bold">Yndlingsfilm:</p>
					<p>Kodak Colorplus</p>
				</div>
			</div>
			<Image src={Emil} alt="" class=" mx-auto p-[60px]"/>
	</div>

	<div class="flex flex-col sticky top-[0px] h-screen w-screen bg-[#141613]">
		<div class="overflow-hidden " >
			<div>
				<h2 class="text-[#F0F0F0] font-serif font-bold text-[24px] pl-[60px] mx-auto py-[30px] mt-[100px]">Mød menneskerne bag</h2>
			</div>
			<div class="gulOverskrift border border-[#F0F0F0] w-[300px]   -ml-[21px] z-10 mb-[16px] text-left">
				<h3 class=" font-serif text-[#FBBA08] font-bold text-[20px] pl-[80px]  fadeInRight3 px-[18px] py-[14px] fadeInLeft6">William Green</h3>
			  </div>
			<div class=" text-[#F0F0F0] fadeIn1 leading-relaxed pl-[60px] fadeIn6">
				<p class="pb-[8px] ">William Green lab-medhjælper og professionel fotograf.<a href="https://www.instagram.com/williamgreenphotos/">@williamgreenphotos</a></p>
				<p class=" font-bold">Yndlingsfilm:</p>
				<p>Ilford XP2</p>
			</div>
		</div>
		<Image src={William} alt="" class=" mx-auto p-[60px]"/>
	</div>		
	</div>
	</section>
</articel>

<script>

</script>